@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend:wght@100..900&display=swap");

:root {
  --gold: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --green: hsl(179, 100%, 13%);
  --gray: hsla(0, 0%, 100%, 0.75);
  --white: hsl(0, 0%, 95%);

  --heading-font: "Big Shoulders", sans-serif;
  --text-font: "Lexend", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  min-height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100dvh;
  padding: 2rem 0;
}

section {
  border-radius: 10px;
  max-width: min(100% - 2rem, 20.438rem);
  overflow: hidden;
}

article {
  padding: 2.25rem 3rem 3rem;
}

.sedan {
  background-color: var(--gold);
}

.suv {
  background-color: var(--cyan);
}

.luxury {
  background-color: var(--green);
}

h1,
h2 {
  color: var(--white);
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 2.2rem;
  margin: 1.5rem 0;
}

p {
  color: var(--gray);
  font-family: var(--text-font);
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 2.25rem;
}

.btn {
  background-color: var(--white);
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--text-font);
  font-size: 0.938rem;
  padding: 0.938rem 1.563rem;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.btn-sedan {
  color: var(--gold);
}

.btn-suv {
  color: var(--cyan);
}

.btn-luxury {
  color: var(--green);
}

@media screen and (min-width: 64rem) {
  section {
    display: flex;
    flex-direction: row;
    max-width: min(100% - 2rem, 57.5rem);
  }

  main {
    padding: 0;
  }

  article {
    padding: 3rem 3.1rem 3.75rem;
  }

  h1,
  h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 2rem;
  }

  p {
    line-height: 1.7;
    font-weight: 400;
    margin-bottom: 6rem;
  }
}
